html,
body {
  background: #221222; /* pastel-on-dark background */
	font-family: 'Monaco', monospace;
  padding: 0.5em;
}
pre {margin: 0}


#app {
    position: relative;
    margin: 0;
}

.web-repl {
  height: 100%;
  position: relative;
}

.CodeMirror {
  font-family: 'Monaco', monospace;
  font-size: 14px;
}

.CodeMirror-gutter {
  margin-right: 0.5em;
}

/* Printer */

.repl-printer {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.repl-expression {
  width: 100%;
  margin: 0.5em 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  /* material design, shadow 2 */
}

/* User expression codes */
.expression-code {}

.seam {
  border-style: solid none;
  border-width: 1px 0;
  border-color: #221222;
  margin: 0;
}

/* User expression values */
.expression-value .CodeMirror {
  padding-left: 35px;
}

.CodeMirror, .CodeMirror-scroll {
  height: auto;
}

.static-mirror, .CodeMirror, .evaluation-spinner {
  line-height: 1.5em;
}

/* Reader */

/* Extensions to paraiso-dark */

.evaluation-spinner {
  padding: 0.5em 0;
  display: block;
  font-size: 14px;
  background: #2f1e2e;
  color: #b9b6b0;
}
